:root {
    --main-bg-color: #083f2f;
    --main-text-color: #1638a9;
    --second-text-color: #fff;
    --second-bg-color: #fff;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #dfe4e4,
      #f4f3ef,
      #f6f6ea,
      #e5ece9,
      #e6e9e8
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  .List-menu a{
    text-decoration: none;
  }
  /* ============ Style of login========================*/
  #bg-color{
    background-image: linear-gradient(
      to right,
      #dfe4e4,
      #f4f3ef,
      #f6f6ea,
      #e5ece9,
      #e6e9e8
    );
  }
  .intro{
    height: 100%;
    margin-top: 50px;
  }
  .link-register{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(7, 104, 20);
  }

  @media (min-height: 300px) and (min-height: 450px) {
    .intro{
      height:auto;
      
    }
  }
 